{% extends "section.html"%}
{% load admin_urls %}
{% load url from future %}
{% load describer_tags %}{% load common_tags %}


{% block breadcrumbs %}
    
    <div class="breadcrumbs">
        <a href="/{% app_name %}">Home</a>
        {% if selected_section  %}
            &rsaquo; <a href="{% url 'section_url' section_name=section_name %}">{{ selected_section|capfirst }}</a>
        {% endif %}        
        {% if selected_section  %}
            &rsaquo; <a href="{% url 'model_data_inspector_url_name' %}">Model Data Summary</a>
        {% endif %}        
        {% if report_title  %}
            &rsaquo; {{ report_title }}
        {% endif %}        
        
    </div>
    
{% endblock %}


{% block section_tiles %}

{% if form %}
    {{ form.errors }}
    <div id="search_tile">
    <form class="form" action="" method="post">
        {% csrf_token %}
        {# Include the hidden fields #}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {# Include the visible fields #}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        {% endfor %}<input type="submit" value="Select">
    </form>
    </div>
{% endif %}


{% if app_label and model_name %}

    {% block inspector %} {% endblock %}
    
{% endif %}

{% if list_text_field %}

    {% block list_text_field %}{% endblock %}

{% endif %}
{% endblock %}

